/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.center-btn {
  display: flex;
  text-align: center;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
